<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
        <p>Registration for Text Detective is currently closed. If you are interested in trying out Text Detective, please <a href="http://www.saitama-u.ac.jp/ceed/contactleander.htm">contact Leander Hughes</a>.</p>
        <!--
        <%- include("./partials/messages"); %>
        <form action="<%= locals.rootPath %>/users/register" method="POST">
          <div class="form-group">
            <label for="personalName">Personal Name</label>
            <input
              type="name"
              id="personalName"
              name="personalName"
              class="form-control"
              placeholder="Enter Personal Name"
              value="<%= typeof personalName != 'undefined' ? pesonalName : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="familyName">Family Name</label>
            <input
              type="name"
              id="familyName"
              name="familyName"
              class="form-control"
              placeholder="Enter Family Name"
              value="<%= typeof familyName != 'undefined' ? familyName : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="sid">Student ID</label>
            <input
              type="name"
              id="sid"
              name="sid"
              class="form-control"
              placeholder="Enter Your Student ID"
              value="<%= typeof sid != 'undefined' ? sid : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="<%= locals.rootPath %>/users/login">Login</a></p>
      
      -->
      </div>
    </div>
  </div>